[submodule "OpenMesh"]
	path = OpenMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "autodiff"]
	path = autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
